.message {
  display: inline-block;
  border-radius: 10px;
  padding: 0.5em;
  background: #e5e5ea;
  color: #000000;
  margin-bottom: 0.5em;
  width: auto;
}

.message.user {
  background: #1b83f5;
  color: #ffffff;
  float: right;
}
