@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.full_width_column {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
