@import url("https://fonts.googleapis.com/css?family=Karma|Raleway:900");

body {
  margin: 0;
  padding: 0;
  font-family: "Karma", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-align: left;
  font-size: 1.6em;
}

p {
  margin: 0;
  color: #2c2c2c;
}
